@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@600&display=swap');


.App {
  overflow-x: hidden;
}

.image-banner {
  width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.the-banner {
  width: 100%;
  margin-top: 130px;
  object-fit: contain;
}

.program-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.the-program {
  width: 40%;
  object-fit: contain;
}

.readmore-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgba(43, 173, 196, 0.911);
  font-weight: bold;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.feature-paper {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 25vw;
  padding: 25px;
  margin: 15PX;
  background-color: rgba(0, 0, 0, 0.42);
  border-bottom: 5px solid rgb(16, 154, 178);
  border-top: 3px solid #d6c227;
  box-shadow: 5px 2px 20px 5px rgba(0, 0, 0, 0.3);
  
}

.feature-headline {
  font-family: 'Ysabeau', sans-serif;
  color: white;
}

.feature-paper p{
  font-weight: 350;
  color: rgb(196, 196, 196);
  font-family:  'Ysabeau', sans-serif;
}

.facebook-icon {
  width: 30px;
  object-fit: contain;
  position: fixed;
  bottom: 20vh;
  right: 5px;
  margin: 10px;
  z-index: 2;
}

.call-icon{
  width: 33px;
  object-fit: contain;
  position: fixed;
  bottom: 10vh;
  right: 5px;
  margin: 10px;
  z-index: 2;
}
.whatsapp-icon {
  width: 30px;
  object-fit: contain;
  position: fixed;
  bottom: 15vh;
  right: 5px;
  margin: 10px;
  z-index: 2;
}

.quick-contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
  height: 400px;
  background-color: rgb(15, 106, 209);
  padding: 20px;
}

.home-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 object-fit: contain;
  z-index: -1;
}

.contact-form {
  margin-left: 20px;
  display: flex;
  flex-direction: column;


}
  
 .quick {
  color: white;
  margin-left: 20px;
  font-weight: 500;
  font-size: 30px;
 } 
.form-button {
  border: none;
  margin-left: 20px;
  margin-top: 10px;
  padding: 7px  30px;
  background-color: white;
  color: rgb(15, 106, 209);
  font-weight: 700;
  font-size: 19px;
}

.form-button:hover{
  background-color: black;
  color: white;
  transition: ease-in 1ms;
}

.form-name, .form-email, .form-message, .form-phone {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px;
  width: 30vw;
}


.form-name, .form-email, .form-message, .form-phone , ::placeholder{
    color: rgb(204, 204, 204);
    font-weight: normal;
    font-weight: bold;
    padding-left: 2px;
}


.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(52, 149, 201);
  height: 400px;
  width: 45vw;
}

.contact-us-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 40vw;
}

.contact-us-p{
  font-size: 18px;
  font-weight: 300;
  color: white;
  word-break: break-word;
  font-family:  'Ysabeau', sans-serif;
}

.contact-us-headline {
  margin-left: 20px;
  font-weight: 500;
  font-size: 30px;
  color: white;
}


.contacts-div-container {
  display: flex;
  justify-content: center;

}

.quick-contact-form-hr {
  border: 1.2px solid white;
  width: 38vw;
}

.program-box{
  padding: 20px;
  position: relative;
  width:80vw;
  display: flex;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
}

.program-info {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width:70%;
  height: 100%;
}
.program-info h1 ,p{
color: white;

}
.program-img{
  display: flex;
  right: 0;
  width: 30%;
  height: 100%;
}
.the-program{
 
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
}
@media screen and (max-width: 480px) {
  .program-container {
    flex-direction: column;
  }

  .feature-paper {
    width: 80vw;
  }
  .contact-us {
    width: 100vw;
  }
  .contact-us-info{
    width: 80vw;
  }
  .quick-contact{
    width: 100vw;
  }
  .quick-contact-form-hr {
    width: 80vw;
  }
  .form-email .form-message .form-name .form-phone {
    width: 75vw;
  }
  .contacts-div-container{
    flex-direction: column;
  }
}


