@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ysabeau:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Righteous&family=Ysabeau:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@500&family=Righteous&family=Ysabeau:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@500&family=Righteous&family=Secular+One&family=Ysabeau:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


.course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 160px;
    margin-bottom: 50px;
}
.Course {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    padding: 20px;
    border-bottom: 2px solid rgba(43, 173, 196, 0.911);
    border-radius: 15px;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.2);
}
.course-h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 2px;
    padding: 0px;
}
.apply-button {
    position: absolute;
    bottom: 70px;
    right: 20px;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    background-color: yellowgreen;
    color: white;
}

.brochure-button {
    position: absolute;
    bottom : 27px;
    right: 20px;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    color: yellowgreen;
}
.course-details {
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 300;
}
.course-details2 {
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 500;
}
.course-details-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 480px) {
     .Course {
        width: 85vw;
     }
     .course-details2 {
        font-size: 14px;
        font-weight: 700;
    }
}

@media screen and (max-width: 480px) {
    .apply-button {
        font-size: 10px;
    }
    .brochure-button {
        font-size: 10px;
    }
}