.faculty-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 185px;
}

.faculty-container {
    display: flex;
    width: 45%;
    min-width: 600px;
    height: 150px;
    box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.2);

    border-bottom: 2px solid rgba(43, 173, 196, 0.911);
    margin: 8px;
}

.faculty-img {
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.faculty-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    justify-content: center;
}

.faculty-name{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

@media screen and (max-width: 500px) {
    .faculty-container {
        flex-direction: column;
        min-width: 90vw;
        width: 90vw;
        height: auto;
    }
    .faculty-details {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}