.university-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 90px;
    background-color: yellow;
    box-shadow: inset 1px 1px 25px 1px rgba(0, 0, 0, 0.7);
}

.uni-logo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-left: 15px;
}

.menu-container{
    margin-top: 90px;
    height: 40px;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 160);
    overflow: auto;
}

.menu {
    margin-left: 10px;
    margin-right: 10px;
}